<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <%- include('../../partials/_seo.ejs') %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Server management: Logging - Hope</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="../../assets/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="../../assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End Plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="../../assets/css/style.css">
  <link rel="stylesheet" href="../../css/update.css">
  <!-- End layout styles -->
</head>

<body>
  <div class="container-scroller">
    <%- include("../../partials/_sidebar.ejs") %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <%- include("../../partials/_navbar.ejs") %>
      <div class="main-panel">
        <div class="content-wrapper">
          <form id="data1" class="form-horizontal">
            <div class="clearfix">
              <span name="translate" caption="dashboard_logging1">Logging</span>
              <div class="form-check float-right">
                <label class="form-check-label">
                  <input type="checkbox" id="option-all" onchange="checkAll(this)" class="form-check-input" name="translate" caption="dashboard_logging2"> Select All </label>
              </div>
            </div>
            <p class="text-muted mb-0" name="translate" caption="dashboard_logging3">Customizable log of events that happen in the server.</p><br>
            <code name="translate" caption="dashboard_logging4">TIP: keep the embed color to #000000 for the default logging colors.</code>
            <div class=" row">
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title" name="translate" caption="dashboard_logging5">Moderation Events</h4>
                    <p class="text-muted mb-0" name="translate" caption="dashboard_logging6">Log actions ran by moderation commands
                    </p>
                    <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                    <ul style="padding-left: 40px; color: white">
                      <% if(log.ModerationEvents.BanToggle == true) {%>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c1" name="ban" checked> Ban / Unban </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c1" name="ban"> Ban / Unban </label>
                      </div>
                      <% } %>
                      <% if(log.ModerationEvents.KickToggle == true) {%>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c2" name="kick" checked> Kick </label>
                      </div>

                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c2" name="kick"> Kick </label>
                      </div>
                      <% } %>

                      <% if(log.ModerationEvents.RoleToggle == true) {%>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c3" name="role-a" checked> Role add / remove </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c3" name="role-a"> Role add / remove </label>
                      </div>
                      <% } %>

                      <% if(log.ModerationEvents.PurgeToggle == true) {%>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c4" name="purge" checked> Purge </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c4" name="purge"> Purge </label>
                      </div>
                      <% } %>

                      <% if(log.ModerationEvents.LockToggle == true) {%>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c5" name="lock" checked> Lock / unlock </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c5" name="lock"> Lock / unlock </label>
                      </div>
                      <% } %>

                      <% if(log.ModerationEvents.WarnToggle == true) {%>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c6" name="warns" checked> Lock / unlock </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c6" name="warns"> Lock / unlock </label>
                      </div>
                      <% } %>

                      <% if(log.ModerationEvents.MuteToggle == true) {%>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c7" name="mute" checked> Mute </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c7" name="mute"> Mute </label>
                      </div>
                      <% } %>

                      <% if(log.ModerationEvents.SlowmodeToggle == true) {%>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c8" name="slowmode" checked> Slowmode </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c8" name="slowmode"> Slowmode </label>
                      </div>
                      <% } %>


                      <% if(log.ModerationEvents.NicknameToggle == true) {%>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c9" name="nicknames" checked> Nicknames </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c9" name="nicknames"> Nicknames </label>
                      </div>
                      <% } %>

                      <% if(log.ModerationEvents.ReportToggle == true) {%>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c10" name="reports" checked> Reports </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c10" name="reports"> Reports </label>
                      </div>
                      <% } %>
                    </ul>
                    <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                    <p class="text-muted mb-0" name="translate" caption="dashboard_logging7">Moderation Log Channel
                    </p>
                    <div class="input-group">
                      <select id="moderation_channel" name="moderation_channel" class="js-example-basic-single" style="width:483px;max-width:483px">
                        <% for (const channel of ch.channels) { %>
                          <% if (channel.type === 0 && channel.id !== log.ModerationEvents.LogChannel) { %>
                            <option value="<%= channel.id %>">#<%= channel.name %></option>
                            <% } else if (channel.type === 0 && channel.id == log.ModerationEvents.LogChannel) { %>
                            <option value="<%= channel.id %>" selected>#<%= channel.name %></option>
                          <% } %>
                        <% } %>

                        <% if (log.ModerationEvents.Toggle == false) { %>
                          <option selected value="disabled">#Disabled</option>
                        <% } else { %>
                          <option value="disabled">#Disabled</option>
                        <% } %>
                      </select><input style="background-color: #fff; color: #2f2f2f; border: #222222;     display: inline-flex;
                                                margin: 4px;
                                                margin-right: 6px; margin-right: 17px;" name="color" value="<%= log.ModerationEvents.EmbedColor %>" type="color" id="color">
                    </div>
                    <p class="text-muted mb-0"><span name="translate" caption="dashboard_logging8">If you want to disable this addon, just select the</span> <code name="translate" caption="dashboard_logging9">#Disabled</code><span name="translate" caption="dashboard_logging10"> channel</span></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title" name="translate" caption="dashboard_logging11">Server Events</h4>
                    <p class="text-muted mb-0" name="translate" caption="dashboard_logging12">Log actions ran by changes by the guild
                    </p>
                    <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                    <ul style="padding-left: 40px; color: white">
                      <% if(log.ServerEvents.ChannelCreateToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c11" name="channel_created" checked> Channel Creation </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c11" name="channel_created"> Channel Creation </label>
                      </div>
                      <% } %>

                      <% if(log.ServerEvents.ChannelUpdateToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c12" name="channel_update" checked> Channel Updated </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c12" name="channel_update"> Channel Updated </label>
                      </div>
                      <% } %>

                      <% if(log.ServerEvents.ChannelDeleteToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c13" name="channel_delete" checked> Channel Deleted </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c13" name="channel_delete"> Channel Deleted </label>
                      </div>
                      <% } %>

                      <% if(log.ServerEvents.RoleCreateToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c14" name="role_create" checked> Role created / deleted </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c14" name="role_create"> Role created / deleted </label>
                      </div>
                      <% } %>

                      <% if(log.ServerEvents.RoleUpdateToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c15" name="roleup" checked> Role updated </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c15" name="roleup"> Role updated </label>
                      </div>
                      <% } %>

                      <% if(log.ServerEvents.GuildUpdateToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c16" name="guild_update" checked> Guild updated </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c16" name="guild_update"> Guild updated </label>
                      </div>
                      <% } %>

                      <% if(log.ServerEvents.EmojiUpdateToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c17" name="emoji_update" checked> Emoji changes </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c17" name="emoji_update"> Emoji changes </label>
                      </div>
                      <% } %>

                      <% if(log.ServerEvents.InviteToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c18" name="invite" checked> Invite create / delete </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c18" name="invite"> Invite create / delete </label>
                      </div>
                      <% } %>

                      <% if(log.ServerEvents.ThreadCreateToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c19" name="thread_create" checked> Thread create </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c19" name="thread_create"> Thread create </label>
                      </div>
                      <% } %>

                      <% if(log.ServerEvents.ThreadDeleteToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c20" name="thread_delete" checked> Thread delete </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c20" name="thread_delete"> Thread delete </label>
                      </div>
                      <% } %>

                      <% if(log.ServerEvents.ThreadUpdateToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c21" name="threadup" checked> Thread update </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c21" name="threadup"> Thread update </label>
                      </div>
                      <% } %>

                      <% if(log.ServerEvents.ThreadMembersUpdateToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c22" name="thread_membersupdate" checked> Thread members update </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c22" name="thread_membersupdate"> Thread members update </label>
                      </div>
                      <% } %>

                      <% if(log.ServerEvents.StickerCreateToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c23" name="sticker_create" checked> Sticker create </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c23" name="sticker_create"> Sticker create </label>
                      </div>
                      <% } %>

                      <% if(log.ServerEvents.StickerDeleteToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c24" name="sticker_delete" checked> Sticker delete </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c24" name="sticker_delete"> Sticker delete </label>
                      </div>
                      <% } %>

                      <% if(log.ServerEvents.StickerUpdateToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c25" name="sticker_update" checked> Sticker update </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c25" name="sticker_update"> Sticker update </label>
                      </div>
                      <% } %>

                      <div style="padding-top: 25px;">
                      </div>
                      <p>Voice Events</p>

                      <% if(log.ServerEvents.VoiceJoinToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c26" name="join" checked> Voice join / leave </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c26" name="join"> Voice join / leave </label>
                      </div>
                      <% } %>

                      <% if(log.ServerEvents.VoiceMoveToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c27" name="move" checked> Voice move </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c27" name="move"> Voice move </label>
                      </div>
                      <% } %>

                      <% if(log.ServerEvents.VoiceDeafenToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c28" name="deafen" checked> Voice deafen / Undeafen </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c28" name="deafen"> Voice deafen / Undeafen </label>
                      </div>
                      <% } %>

                      <% if(log.ServerEvents.VoiceStreamingToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c29" name="streaming" checked> Voice Streaming </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c29" name="streaming"> Voice Streaming </label>
                      </div>
                      <% } %>

                      <div style="padding-top: 25px;">
                      </div>
                      <p>Member Logging</p>

                      <% if(log.ServerEvents.MemberJoinToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c30" name="member_join" checked> Members joining </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c30" name="member_join"> Members joining </label>
                      </div>
                      <% } %>

                      <% if(log.ServerEvents.MemberLeaveToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c31" name="member_leave" checked> Members leaving </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c31" name="member_leave"> Members leaving </label>
                      </div>
                      <% } %>

                      <% if(log.ServerEvents.BoostToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c32" name="member_boosting" checked> Members boosting </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c32" name="member_boosting"> Members boosting </label>
                      </div>
                      <% } %>

                      <% if(log.ServerEvents.TicketingToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c33" name="ticket" checked> Ticket opening / closing </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c33" name="ticket"> Ticket opening / closing </label>
                      </div>
                      <% } %>
                    </ul>
                    <div class="input-group">
                      <select id="ch_server_events" name="ch_server_events" class="js-example-basic-single" style="width:483px;max-width:483px">
                        <% for (const channel of ch.channels) { %>
                          <% if (channel.type === 0 && channel.id !== log.ServerEvents.LogChannel) { %>
                            <option value="<%= channel.id %>">#<%= channel.name %></option>
                            <% } else if (channel.type === 0 && channel.id == log.ServerEvents.LogChannel) { %>
                            <option value="<%= channel.id %>" selected>#<%= channel.name %></option>
                          <% } %>
                        <% } %>

                        <% if (log.ServerEvents.Toggle == false) { %>
                          <option selected value="disabled">#Disabled</option>
                        <% } else { %>
                          <option value="disabled">#Disabled</option>
                        <% } %>
                      </select><input style="background-color: #fff; color: #2f2f2f; border: #222222;     display: inline-flex;
                                                        margin: 4px;
                                                        margin-right: 6px; margin-right: 17px;" name="color1" value="<%= log.ServerEvents.EmbedColor %>" type="color" id="color1">
                    </div>
                    <p class="text-muted mb-0"><span name="translate" caption="dashboard_logging8">If you want to disable this addon, just select the</span> <code name="translate" caption="dashboard_logging9">#Disabled</code><span name="translate" caption="dashboard_logging10"> channel</span></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title" name="translate" caption="dashboard_logging13">Member Events</h4>
                    <p class="text-muted mb-0" name="translate" caption="dashboard_logging14">Log member actions
                    </p>
                    <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                    <ul style="padding-left: 40px; color: white">
                      <% if(log.MemberEvents.RoleUpdateToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c34" name="member_role_update" checked> Role updates </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c34" name="member_role_update"> Role updates </label>
                      </div>
                      <% } %>

                      <% if(log.MemberEvents.NameChangesToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c35" name="name_change" checked> Username change </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c35" name="name_change"> Username change </label>
                      </div>
                      <% } %>

                      <% if(log.MemberEvents.DiscriminatorChangesToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c36" name="discriminator_changed" checked> Discriminator changed </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c36" name="discriminator_changed"> Discriminator changed </label>
                      </div>
                      <% } %>

                      <% if(log.MemberEvents.AvatarChangesToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c37" name="avatar_changed" checked> Avatar changed </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c37" name="avatar_changed"> Avatar changed </label>
                      </div>
                      <% } %>
                    </ul>
                    <div class="input-group">
                      <select id="channel_member_events" name="channel_member_events" class="js-example-basic-single" style="width:483px;max-width:483px">
                        <% for (const channel of ch.channels) { %>
                          <% if (channel.type === 0 && channel.id !== log.MemberEvents.LogChannel) { %>
                            <option value="<%= channel.id %>">#<%= channel.name %></option>
                            <% } else if (channel.type === 0 && channel.id == log.MemberEvents.LogChannel) { %>
                            <option value="<%= channel.id %>" selected>#<%= channel.name %></option>
                          <% } %>
                        <% } %>

                        <% if (log.MemberEvents.Toggle == false) { %>
                          <option selected value="disabled">#Disabled</option>
                        <% } else { %>
                          <option value="disabled">#Disabled</option>
                        <% } %>
                      </select><input style="background-color: #fff; color: #2f2f2f; border: #222222;     display: inline-flex;
                                                        margin: 4px;
                                                        margin-right: 6px; margin-right: 17px;" name="color2" value="<%= log.MemberEvents.EmbedColor %>" type="color" id="color2">
                    </div>
                    <p class="text-muted mb-0"><span name="translate" caption="dashboard_logging8">If you want to disable this addon, just select the</span> <code name="translate" caption="dashboard_logging9">#Disabled</code><span name="translate" caption="dashboard_logging10"> channel</span></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title" name="translate" caption="dashboard_logging15">Message Events</h4>
                    <p class="text-muted mb-0" name="translate" caption="dashboard_logging16">Log actions ran by changes by the guild
                    </p>
                    <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                    <ul style="padding-left: 40px; color: white">
                      <% if(log.MessageEvents.DeletedToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c38" name="deleted" checked> Deleted Messages </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c38" name="deleted"> Deleted Messages </label>
                      </div>
                      <% } %>

                      <% if(log.MessageEvents.EditedToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c38" name="edited" checked> Edited messages </label>
                      </div>

                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c38" name="edited"> Edited messages </label>
                      </div>
                      <% } %>

                      <% if(log.MessageEvents.PurgedToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c39" name="purged" checked> Purged messages </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c39" name="purged"> Purged messages </label>
                      </div>
                      <% } %>

                      <% if(log.MessageEvents.ReactionToggle == true) { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c40" name="reaction" checked> Reaction messages </label>
                      </div>
                      <% } else { %>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="c40" name="reaction"> Reaction messages </label>
                      </div>
                      <% } %>

                    </ul>
                    <div class="input-group">
                      <select id="message_events_channel" name="message_events_channel" class="js-example-basic-single" style="width:483px;max-width:483px">
                        <% for (const channel of ch.channels) { %>
                          <% if (channel.type === 0 && channel.id !== log.MessageEvents.LogChannel) { %>
                            <option value="<%= channel.id %>">#<%= channel.name %></option>
                            <% } else if (channel.type === 0 && channel.id == log.MessageEvents.LogChannel) { %>
                            <option value="<%= channel.id %>" selected>#<%= channel.name %></option>
                          <% } %>
                        <% } %>

                        <% if (log.MessageEvents.Toggle == false) { %>
                          <option selected value="disabled">#Disabled</option>
                        <% } else { %>
                          <option value="disabled">#Disabled</option>
                        <% } %>
                      </select><input style="background-color: #fff; color: #2f2f2f; border: #222222;     display: inline-flex;
                                                        margin: 4px;
                                                        margin-right: 6px; margin-right: 17px;" name="color3" value="<%= log.MessageEvents.EmbedColor %>" type="color" id="color3">
                    </div>
                    <p class="text-muted mb-0"><span name="translate" caption="dashboard_logging8">If you want to disable this addon, just select the</span> <code name="translate" caption="dashboard_logging9">#Disabled</code><span name="translate" caption="dashboard_logging10"> channel</span></p>
                  </div>
                </div>
              </div>
              <div class="save" id="save">
                <span><span name="translate" caption="dashboard_logging17">You have unsaved changes. Do you want to save them?</span>
                  <input type="submit" class="cta" value="Save" name="confirmchange" id="confirmchange" onclick="offNotify();">
                  <input name="cancel" type="button" class="ctb" value="Cancel" onclick="mudarCor();""></span>
                </div>
              </form>
        </div>
        <script src=" https://code.jquery.com/jquery-3.2.1.min.js"></script>
                  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css">
                  <script>
                    const Toast = Swal.mixin({
                      toast: true,
                      position: 'top-right',
                      showConfirmButton: false,
                      timer: 5000,
                      timerProgressBar: true
                    })

                    $("input[type='checkbox']").change(function() {
                      $(".save").addClass("changes_true");
                    });

                    $("input[type='color']").change(function() {
                      $(".save").addClass("changes_true");
                    });

                    var checkboxes = document.querySelectorAll("input[type = 'checkbox']");

                    function checkAll(myCheckbox) {
                      if (myCheckbox.checked == true) {
                        checkboxes.forEach(function(checkbox) {
                          checkbox.checked = true;
                        });
                      } else {
                        checkboxes.forEach(function(checkbox) {
                          checkbox.checked = false;
                        });
                      }
                    }

                    // DETECTA MUDANÇAS EM TODOS SELECT DA PAGINA
                    $('select').on({
                      keydown: function(e) {
                        if (e.which === 32)
                          return false;
                      },
                      change: function() {
                        this.value = this.value.replace(/\s/g, "");
                        // alert("mudanças detectadas");
                        //document.getElementById("save").style.bottom = "30px"
                        $(".save").addClass("changes_true");
                      }
                    });

                    function mudarCor(novaCor) {
                      $(".save").removeClass("changes_true");
                    }

                    // FECHA O CHANGES_TRUE QUANDO CLICA EM SALVAR
                    function offNotify(novaCor) {
                      $(".save").removeClass("changes_true");
                    }

                    $("#data1").submit(function(e) {
                      e.preventDefault();
                      var form = $(this);

                      $.ajax({
                        type: "POST",
                        url: '/dashboard/<%= req.params.guildID %>/logging',
                        data: form.serialize(),
                        beforeSend: function() {
                          Toast.fire({
                            icon: 'warning',
                            title: 'Saving...'
                          });
                        },
                        success: function(data) {
                          Toast.fire({
                            icon: 'success',
                            title: 'Saved Changes'
                          });
                        }
                      }).fail(function() {
                        Toast.fire({
                          icon: 'error',
                          title: 'An error occurred while saving...'
                        });
                      });
                    });
                  </script>
                  <!-- content-wrapper ends -->
                  <%- include("../../partials/_footer-dashboard.ejs") %>
                  <!-- partial -->
              </div>
              <!-- main-panel ends -->
            </div>
          </div>
        </div>
      </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
        <!-- plugins:js -->
        <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <script src="../../assets/vendors/select2/select2.min.js"></script>
        <script src="../../assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="../../assets/js/off-canvas.js"></script>
        <script src="../../assets/js/hoverable-collapse.js"></script>
        <script src="../../assets/js/misc.js"></script>
        <script src="../../assets/js/settings.js"></script>
        <script src="../../assets/js/todolist.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page -->
        <script src="../../assets/js/file-upload.js"></script>
        <script src="../../assets/js/typeahead.js"></script>
        <script src="../../assets/js/select2.js"></script>
        <!-- End custom js for this page -->
</body>

</html>