<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <%- include('../../partials/_seo.ejs') %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Server management: Reaction Roles - Hope</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="../../assets/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="../../assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End Plugin css for this page -->
  <!-- inject:css -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css">
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="../../assets/css/style.css">
  <link rel="stylesheet" href="../../css/welcome.css">
  <!-- End layout styles -->
</head>

<body>
  <div class="container-scroller">
    <%- include("../../partials/_sidebar.ejs") %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <%- include("../../partials/_navbar.ejs") %>
      <div class="main-panel">
        <div class="content-wrapper">
          <% if (error != '') { %>
          <script>
            const ToastError = Swal.mixin({
              toast: true,
              position: 'top-right',
              showConfirmButton: false,
              timer: 30000,
              timerProgressBar: true
            })

            ToastError.fire({
              icon: 'error',
              title: '<%= error %>'
            });
          </script>
          <% }  %>
          <% if(success != ''){ %>
          <script>
            const ToastSuccess = Swal.mixin({
              toast: true,
              position: 'top-right',
              showConfirmButton: false,
              timer: 15000,
              timerProgressBar: true
            })

            ToastSuccess.fire({
              icon: 'success',
              title: '<%= success %>'
            });
          </script>
          <% } %>
          <form method="POST" action="/dashboard/<%= guild.guild.id %>/reactionroles">
          <div class="clearfix">
            <span> <span name="translate" caption="dashboard_rr1">Reaction Roles</span> <code style="color: #ff7f00;text-transform: uppercase;font-weight: 600;font-size: 11px;letter-spacing: 1.2px;" name="translate" caption="dashboard_autoanime4">free/premium</code> </span>
            <p class="text-muted mb-0" name="translate" caption="dashboard_rr2"> Allow members to self-assign roles by reacting. </p><br>
            <div style="    position: fixed;
              right: 2%;
              top: 10%;
              display: inline-grid;
              float: right !important;
              z-index: 22;">
              <button type="submit" name="create" id="create" class="btn btn-outline-light btn-fw"><span name="translate" caption="dashboard_rr3"> Create </span></button>
              <button name="open" id="open" type="button" value="Open" class="btn btn-outline-success btn-fw" style="    margin-top: 8px;"><span name="translate" caption="dashboard_rr4"> My Reactions </span></button>
            </div>
          </div>
          <div class=" row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title" name="translate" caption="dashboard_rr5">MESSAGE SETTINGS</h4>
                  <p class="text-muted mb-0"><span name="translate" caption="dashboard_rr6">Use the left and right panel to define your</span> <code name="translate" caption="dashboard_rr7">reaction role</code> <span name="translate" caption="dashboard_rr8">settings and click</span> <code name="translate" caption="dashboard_rr9">create</code> <span name="translate" caption="dashboard_rr10">to finish.</span></p>
                  <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                  <p class="text-muted mb-0" name="translate" caption="dashboard_rr11">Channel</p>
                  <div class="input-group">
                    <select id="sendChannel" name="sendChannel" class="js-example-basic-single" style="width:483px;max-width:483px">
                      <% for (const channel of ch.channels) { %>
                      <% if (channel.type === 0) { %>
                      <option value="<%= channel.id %>">#<%= channel.name %></option>
                      <% } %>
                      <% } %>
                    </select>
                  </div>
                  <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                  <p class="text-muted mb-0" name="translate" caption="dashboard_rr12">Select the message mode</p>
                  <div class="control is-flex">
                    <div class="col-sm-4">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="typeMessage" id="newmessage" value="newmessage"> New Message </label>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="typeMessage" id="existingmessage" value="existingmessage"> Existing Message </label>
                      </div>
                    </div>
                  </div>
                  <div id="nm" style="display: none;">
                    <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                    <p class="text-muted mb-0" name="translate" caption="dashboard_rr13">Select the message type</p>
                    <div class="control is-flex">
                      <div class="col-sm-4">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="rrTypeMsg" id="msg-type-text" value="textmessage"> Text Message </label>
                        </div>
                      </div>
                      <div class="col-sm-5">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="rrTypeMsg" id="msg-type-embed" value="embedmessage"> Embed Message </label>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="rrTypeMsg" id="msg-type-both" value="bothmessage"> Text + Embed Message </label>
                        </div>
                      </div>
                    </div>
                    <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                    <p class="text-muted mb-0" name="translate" caption="dashboard_rr14">Select the type of reaction</p>
                    <div class="control is-flex">
                      <div class="col-sm-4">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="selectType" id="sel-type-reactions" value="reactions"> Reactions </label>
                        </div>
                      </div>
                      <div class="col-sm-5">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="selectType" id="sel-type-button" value="buttons"> Buttons </label>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="selectType" id="sel-type-drop" value="dropdowns"> Dropdowns </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="em" style="display: none;">
                    <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                    <p class="text-muted mb-0" name="translate" caption="dashboard_rr15">Message ID</p>
                    <input type="text" class="form-control" name="messageID" id="messageID" placeholder="Message ID / Message Link">
                    <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                  </div>

                  <!-- Message Type -->
                  <div id="rr-text-area" style="display: none;">
                    <textarea id="textarea" name="textarea" class="form-control" placeholder="React here to get your roles!"></textarea>
                  </div>
                  <!-- END Message Type -->

                  <div id="rr-embed-area" style="display: none;">
                    <div class="col-md-10 offset-md-1" style="color: white">
                      <div class="card-deck">
                        <div class="card">
                          <div class="card-block">
                            <div class="row form-group">
                              <div class="col-md-3">

                                <input name="author_icon" value="" style="background-color: #2f2f2f; color: white" type="text" placeholder="Author Icon" class="form-control" maxlength="200" id="author_icon">
                              </div>

                              <div class="col-md-6">

                                <input name="author_name" value="" style="background-color: #2f2f2f; color: white" type="text" placeholder="Author Name" class="form-control" maxlength="256" id="author_name">
                              </div>


                              <div class="col-md-3">

                                <input name="author_url" value="" style="background-color: #2f2f2f; color: white" type="text" placeholder="Author URL" class="form-control" maxlength="256" id="author_url">
                              </div>
                            </div>

                            <div class="row form-group">
                              <div class="col-md-9">
                                <input value="" name="embedTitle" style="background-color: #2f2f2f; color: white" type="text" placeholder="Embed Title" class="form-control" maxlength="200" id="title">
                              </div>
                              <div class="col-md-3">

                                <input value="" name="embedTitleURL" style="background-color: #2f2f2f; color: white" type="text" placeholder="Embed Title Url" class="form-control" maxlength="200" id="url">
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-12"><textarea name="embedDescription" value="" placeholder="Embed Description" style="background-color: #2f2f2f; color: white" rows="3" wrap="soft" class="col-12 form-control" maxlength="2048" type="text" id="description">{user_tag} just left {guild}, we now have {memberCount} Members!</textarea><br></div>
                            </div>


                            <div class="row">
                              <div class="col-md-6">
                                <input value="" name="embedThumbnail" id="thumb" style="background-color: #2f2f2f; color: white" class="form-control" maxlength="200" type="text" placeholder="Embed Thumbnail Url">


                              </div>

                              <div class="col-md-3">

                                <input id="footerIcon" value="" name="embedFooterIcon" style="background-color: #2f2f2f; color: white" class="form-control" maxlength="1048" type="text" placeholder="Embed Footer Icon">
                              </div>

                              <div class="col-md-3">

                                <input id="footer" value="" name="embedFooter" style="background-color: #2f2f2f; color: white" class="form-control" maxlength="1048" type="text" placeholder="Embed Footer Text">
                              </div>

                            </div>

                            <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                            <div class="col-md-6">
                              <input value="" name="embedImage" id="image" style="background-color: #2f2f2f; color: white;right: 12px;" class="form-control" maxlength="200" type="text" placeholder="Embed Image Url">
                            </div>

                            <br>
                            <p>Timestamp</p>
                            <div class="col-sm-5">
                              <div class="form-check">
                                <% if (true) { %>
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input" name="timestamp" id="timestamp" value="time" onclick="Stamp()" checked> Toggle <i class="input-helper"></i></label>
                                <% } else { %>
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input" name="timestamp" id="timestamp" value="time" onclick="Stamp()"> Toggle <i class="input-helper"></i></label>
                                <% } %>
                              </div>
                            </div>
                            <br>
                            <input class="form-control" value="#000000" name="embedColor" style="background-color: #2f2f2f; color: white" id="color" type="color">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END Message Type -->
                  <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                  <!-- Selection Type -->
                  <div id="sel-reaction" style="display: none;">
                    <button type="button" class="btn btn-outline-secondary btn-sm repeater-add-btn" name="addrepeater" id="addrepeater" value="0">
                      <span name="translate" caption="dashboard_rr16">Add Reaction</span>
                    </button>
                    <div id="repeater0" style="display: none;">
                      <!-- Repeater Heading -->
                      <div class="repeater-heading">
                        <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                        <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                      </div>
                      <div class="clearfix"></div>
                      <!-- Repeater Items -->

                      <div class="items" data-group="reactions">
                        <!-- Repeater Content -->
                        <div class="item-content">

                          <div class="form-input row">
                            <div class="col">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr17"> Emoji </p>
                              <div id="the-basics">
                                <select class="js-example-basic-multiple" name="emojirr0">
                                  <option value="" selected disabled>Select a Emoji</option>
                                  <% emojiArray.forEach((e)=>{ %>
                                  <option value="<%=e%>"><%=e%></option>
                                  <% }) %>
                                </select>
                              </div>
                            </div>
                            <div class="col">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr18"> Roles </p>
                              <div id="the-basics">
                                <input type="hidden" name="roles" value="null">
                                <select class="js-example-basic-multiple" style="width:183px;max-width:483px; border-color: #2c2e33; background: #000000; height: 36px;" id="roles0" name="roles0">
                              <% for (const role of rr.roles) { %>
                              <% if (role.name !== "@everyone" && !role.managed) { %>
                              <option value="<%= role.id %>">@<%= role.name %></option>
                              <% } %>
                              <% } %>
                            </select>
                              </div>
                            </div>
                            <div class="col" id="label0" style="display: none;">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr19"> Label </p>
                              <div id="bloodhound">
                                <input type="text" class="form-control label0" id="inputName" placeholder="Button Label" name="labelrr0">
                              </div>
                            </div>
                            <div class="col" id="desc0" style="display: none;">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr20"> Description </p>
                              <div id="bloodhound">
                                <input type="text" class="form-control desc0" id="inputName" placeholder="Drop Description" name="descrr0">
                              </div>
                            </div>
                          </div>

                        </div>
                        <!-- Repeater Remove Btn -->
                        <div class="pull-right repeater-remove-btn">
                          <button type="button" class="btn btn-danger remove-btn" name="remove0" id="remove0" onclick="incrementValue(0)">
                            <span name="translate" caption="dashboard_rr21"> Remove </span>
                          </button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>

                    <div id="repeater1" style="display: none;">
                      <!-- Repeater Heading -->
                      <div class="repeater-heading">
                        <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                        <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                      </div>
                      <div class="clearfix"></div>
                      <!-- Repeater Items -->

                      <div class="items" data-group="reactions">
                        <!-- Repeater Content -->
                        <div class="item-content">

                          <div class="form-input row">
                            <div class="col">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr17"> Emoji </p>
                              <div id="the-basics">
                                <select class="js-example-basic-multiple" name="emojirr1">
                                  <option value="" selected disabled>Select a Emoji</option>
                                  <% emojiArray.forEach((e)=>{ %>
                                  <option value="<%=e%>"><%=e%></option>
                                  <% }) %>
                                </select>
                              </div>
                            </div>
                            <div class="col">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr18"> Roles </p>
                              <div id="the-basics">
                              <select class="js-example-basic-multiple" style="width:183px;max-width:483px; border-color: #2c2e33; background: #000000; height: 36px;" id="roles1" name="roles1">
                              <% for (const role of rr.roles) { %>
                              <% if (role.name !== "@everyone" && !role.managed) { %>
                              <option value="<%= role.id %>">@<%= role.name %></option>
                              <% } %>
                              <% } %>
                            </select>
                              </div>
                            </div>
                            <div class="col" id="label1" style="display: none;">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr19"> Label </p>
                              <div id="bloodhound">
                                <input type="text" class="form-control label1" id="inputName" placeholder="Button Label" name="labelrr1">
                              </div>
                            </div>
                            <div class="col" id="desc1" style="display: none;">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr20"> Description </p>
                              <div id="bloodhound">
                                <input type="text" class="form-control desc1" id="inputName" placeholder="Drop Description" name="descrr1">
                              </div>
                            </div>
                          </div>

                        </div>
                        <!-- Repeater Remove Btn -->
                        <div class="pull-right repeater-remove-btn">
                          <button type="button" class="btn btn-danger remove-btn" name="remove1" id="remove1" onclick="incrementValue(1)">
                            <span name="translate" caption="dashboard_rr21"> Remove </span>
                          </button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>

                    <div id="repeater2" style="display: none;">
                      <!-- Repeater Heading -->
                      <div class="repeater-heading">
                        <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                        <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                      </div>
                      <div class="clearfix"></div>
                      <!-- Repeater Items -->

                      <div class="items" data-group="reactions">
                        <!-- Repeater Content -->
                        <div class="item-content">

                          <div class="form-input row">
                            <div class="col">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr17"> Emoji </p>
                              <div id="the-basics">
                                <select class="js-example-basic-multiple" name="emojirr2">
                                  <option value="" selected disabled>Select a Emoji</option>
                                  <% emojiArray.forEach((e)=>{ %>
                                  <option value="<%=e%>"><%=e%></option>
                                  <% }) %>
                                </select>
                              </div>
                            </div>
                            <div class="col">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr18"> Roles </p>
                              <div id="the-basics">
                                <select class="js-example-basic-multiple" style="width:183px;max-width:483px; border-color: #2c2e33; background: #000000; height: 36px;" id="roles2" name="roles2">
                                  <% for (const role of rr.roles) { %>
                                  <% if (role.name !== "@everyone" && !role.managed) { %>
                                  <option value="<%= role.id %>">@<%= role.name %></option>
                                  <% } %>
                                  <% } %>
                              </div>
                            </div>
                            <div class="col" id="label2" style="display: none;">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr19"> Label </p>
                              <div id="bloodhound">
                                <input type="text" class="form-control label2" id="inputName" placeholder="Button Label" name="labelrr2">
                              </div>
                            </div>
                            <div class="col" id="desc2" style="display: none;">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr20"> Description </p>
                              <div id="bloodhound">
                                <input type="text" class="form-control desc2" id="inputName" placeholder="Drop Description" name="descrr2">
                              </div>
                            </div>
                          </div>

                        </div>
                        <!-- Repeater Remove Btn -->
                        <div class="pull-right repeater-remove-btn">
                          <button type="button" class="btn btn-danger remove-btn" name="remove2" id="remove2" onclick="incrementValue(2)">
                            <span name="translate" caption="dashboard_rr21"> Remove </span>
                          </button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>

                    <div id="repeater3" style="display: none;">
                      <!-- Repeater Heading -->
                      <div class="repeater-heading">
                        <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                        <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                      </div>
                      <div class="clearfix"></div>
                      <!-- Repeater Items -->

                      <div class="items" data-group="reactions">
                        <!-- Repeater Content -->
                        <div class="item-content">

                          <div class="form-input row">
                            <div class="col">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr17"> Emoji </p>
                              <div id="the-basics">
                                <select class="js-example-basic-multiple" name="emojirr3">
                                  <option value="" selected disabled>Select a Emoji</option>
                                  <% emojiArray.forEach((e)=>{ %>
                                  <option value="<%=e%>"><%=e%></option>
                                  <% }) %>
                                </select>
                              </div>
                            </div>
                            <div class="col">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr18"> Roles </p>
                              <div id="the-basics">
                                <select class="js-example-basic-multiple" style="width:183px;max-width:483px; border-color: #2c2e33; background: #000000; height: 36px;" id="roles3" name="roles3">
                                  <% for (const role of rr.roles) { %>
                                  <% if (role.name !== "@everyone" && !role.managed) { %>
                                  <option value="<%= role.id %>">@<%= role.name %></option>
                                  <% } %>
                                  <% } %>
                              </div>
                            </div>
                            <div class="col" id="label3" style="display: none;">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr19"> Label </p>
                              <div id="bloodhound">
                                <input type="text" class="form-control label3" id="inputName" placeholder="Button Label" name="labelrr3">
                              </div>
                            </div>
                            <div class="col" id="desc3" style="display: none;">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr20"> Description </p>
                              <div id="bloodhound">
                                <input type="text" class="form-control desc3" id="inputName" placeholder="Drop Description" name="descrr3">
                              </div>
                            </div>
                          </div>

                        </div>
                        <!-- Repeater Remove Btn -->
                        <div class="pull-right repeater-remove-btn">
                          <button type="button" class="btn btn-danger remove-btn" name="remove3" id="remove3" onclick="incrementValue(3)">
                            <span name="translate" caption="dashboard_rr21"> Remove </span>
                          </button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>

                    <div id="repeater4" style="display: none;">
                      <!-- Repeater Heading -->
                      <div class="repeater-heading">
                        <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                        <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                      </div>
                      <div class="clearfix"></div>
                      <!-- Repeater Items -->

                      <div class="items" data-group="reactions">
                        <!-- Repeater Content -->
                        <div class="item-content">

                          <div class="form-input row">
                            <div class="col">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr17"> Emoji </p>
                              <div id="the-basics">
                                <select class="js-example-basic-multiple" name="emojirr4">
                                  <option value="" selected disabled>Select a Emoji</option>
                                  <% emojiArray.forEach((e)=>{ %>
                                  <option value="<%=e%>"><%=e%></option>
                                  <% }) %>
                                </select>
                              </div>
                            </div>
                            <div class="col">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr18"> Roles </p>
                              <div id="the-basics">
                                <select class="js-example-basic-multiple" style="width:183px;max-width:483px; border-color: #2c2e33; background: #000000; height: 36px;" id="roles4" name="roles4">
                                  <% for (const role of rr.roles) { %>
                                  <% if (role.name !== "@everyone" && !role.managed) { %>
                                  <option value="<%= role.id %>">@<%= role.name %></option>
                                  <% } %>
                                  <% } %>
                              </div>
                            </div>
                            <div class="col" id="label4" style="display: none;">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr19"> Label </p>
                              <div id="bloodhound">
                                <input type="text" class="form-control label4" id="inputName" placeholder="Button Label" name="labelrr4">
                              </div>
                            </div>
                            <div class="col" id="desc4" style="display: none;">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr20"> Description </p>
                              <div id="bloodhound">
                                <input type="text" class="form-control desc4" id="inputName" placeholder="Drop Description" name="descrr4">
                              </div>
                            </div>
                          </div>

                        </div>
                        <!-- Repeater Remove Btn -->
                        <div class="pull-right repeater-remove-btn">
                          <button type="button" class="btn btn-danger remove-btn" name="remove4" id="remove4" onclick="incrementValue(4)">
                            <span name="translate" caption="dashboard_rr21"> Remove </span>
                          </button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>

                    <div id="repeater5" style="display: none;">
                      <!-- Repeater Heading -->
                      <div class="repeater-heading">
                        <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                        <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                      </div>
                      <div class="clearfix"></div>
                      <!-- Repeater Items -->

                      <div class="items" data-group="reactions">
                        <!-- Repeater Content -->
                        <div class="item-content">

                          <div class="form-input row">
                            <div class="col">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr17"> Emoji </p>
                              <div id="the-basics">
                                <select class="js-example-basic-multiple" name="emojirr5">
                                  <option value="" selected disabled>Select a Emoji</option>
                                  <% emojiArray.forEach((e)=>{ %>
                                  <option value="<%=e%>"><%=e%></option>
                                  <% }) %>
                                </select>
                              </div>
                            </div>
                            <div class="col">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr18"> Roles </p>
                              <div id="the-basics">
                                <select class="js-example-basic-multiple" style="width:183px;max-width:483px; border-color: #2c2e33; background: #000000; height: 36px;" id="roles5" name="roles5">
                                  <% for (const role of rr.roles) { %>
                                  <% if (role.name !== "@everyone" && !role.managed) { %>
                                  <option value="<%= role.id %>">@<%= role.name %></option>
                                  <% } %>
                                  <% } %>
                              </div>
                            </div>
                            <div class="col" id="label5" style="display: none;">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr19"> Label </p>
                              <div id="bloodhound">
                                <input type="text" class="form-control label5" id="inputName" placeholder="Button Label" name="labelrr5">
                              </div>
                            </div>
                            <div class="col" id="desc5" style="display: none;">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr20"> Description </p>
                              <div id="bloodhound">
                                <input type="text" class="form-control desc5" id="inputName" placeholder="Drop Description" name="descrr5">
                              </div>
                            </div>
                          </div>

                        </div>
                        <!-- Repeater Remove Btn -->
                        <div class="pull-right repeater-remove-btn">
                          <button type="button" class="btn btn-danger remove-btn" name="remove5" id="remove5" onclick="incrementValue(5)">
                            <span name="translate" caption="dashboard_rr21"> Remove </span>
                          </button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>

                    <div id="repeater6" style="display: none;">
                      <!-- Repeater Heading -->
                      <div class="repeater-heading">
                        <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                        <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                      </div>
                      <div class="clearfix"></div>
                      <!-- Repeater Items -->

                      <div class="items" data-group="reactions">
                        <!-- Repeater Content -->
                        <div class="item-content">

                          <div class="form-input row">
                            <div class="col">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr17"> Emoji </p>
                              <div id="the-basics">
                                <select class="js-example-basic-multiple" name="emojirr6">
                                  <option value="" selected disabled>Select a Emoji</option>
                                  <% emojiArray.forEach((e)=>{ %>
                                  <option value="<%=e%>"><%=e%></option>
                                  <% }) %>
                                </select>
                              </div>
                            </div>
                            <div class="col">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr18"> Roles </p>
                              <div id="the-basics">
                                <select class="js-example-basic-multiple" style="width:183px;max-width:483px; border-color: #2c2e33; background: #000000; height: 36px;" id="roles6" name="roles6">
                                  <% for (const role of rr.roles) { %>
                                  <% if (role.name !== "@everyone" && !role.managed) { %>
                                  <option value="<%= role.id %>">@<%= role.name %></option>
                                  <% } %>
                                  <% } %>
                              </div>
                            </div>
                            <div class="col" id="label6" style="display: none;">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr19"> Label </p>
                              <div id="bloodhound">
                                <input type="text" class="form-control label6" id="inputName" placeholder="Button Label" name="labelrr6">
                              </div>
                            </div>
                            <div class="col" id="desc6" style="display: none;">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr20"> Description </p>
                              <div id="bloodhound">
                                <input type="text" class="form-control desc6" id="inputName" placeholder="Drop Description" name="descrr6">
                              </div>
                            </div>
                          </div>

                        </div>
                        <!-- Repeater Remove Btn -->
                        <div class="pull-right repeater-remove-btn">
                          <button type="button" class="btn btn-danger remove-btn" name="remove6" id="remove6" onclick="incrementValue(6)">
                            <span name="translate" caption="dashboard_rr21"> Remove </span>
                          </button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>

                  <div id="sel-buttons" style="display: none;">
                    <div id="repeater">
                      <!-- Repeater Heading -->
                      <div class="repeater-heading">
                        <button type="button" class="btn btn-outline-secondary btn-sm repeater-add-btn">
                          <span name="translate" caption="dashboard_rr22"> Add Button </span>
                        </button>
                        <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                        <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                      </div>
                      <div class="clearfix"></div>
                      <!-- Repeater Items -->

                      <div class="items" data-group="buttons">
                        <!-- Repeater Content -->
                        <div class="item-content">

                          <div class="form-input row">
                            <div class="col">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr17"> Emoji </p>
                              <div id="the-basics">
                                <select class="js-example-basic-multiple" name="emojirr7">
                                  <option value="" selected disabled>Select a Emoji</option>
                                  <% emojiArray.forEach((e)=>{ %>
                                  <option value="<%=e%>"><%=e%></option>
                                  <% }) %>
                                </select>
                              </div>
                            </div>
                            <div class="col">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr18"> Roles </p>
                              <div id="the-basics">
                                <select class="js-example-basic-multiple" style="width:183px;max-width:483px; border-color: #2c2e33; background: #000000; height: 36px;" id="roles7" name="roles7">
                                  <% for (const role of rr.roles) { %>
                                  <% if (role.name !== "@everyone" && !role.managed) { %>
                                  <option value="<%= role.id %>">@<%= role.name %></option>
                                  <% } %>
                                  <% } %>
                              </div>
                            </div>
                            <div class="col">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr19"> Label </p>
                              <div id="bloodhound">
                                <input type="text" class="form-control roles7" id="inputName" placeholder="Button Label" name="labelrr7">
                              </div>
                            </div>
                          </div>

                        </div>
                        <!-- Repeater Remove Btn -->
                        <div class="pull-right repeater-remove-btn">
                          <button type="button" class="btn btn-danger remove-btn" name="remove7" id="remove7" onclick="incrementValue(7)">
                            <span name="translate" caption="dashboard_rr21"> Remove </span>
                          </button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>

                  <div id="sel-dropdowns" style="display: none;">
                    <div id="repeater">
                      <!-- Repeater Heading -->
                      <div class="repeater-heading">
                        <button type="button" class="btn btn-outline-secondary btn-sm repeater-add-btn">
                          <span name="translate" caption="dashboard_rr23"> Add Dropdown Option </span>
                        </button>
                        <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                        <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                      </div>
                      <div class="clearfix"></div>
                      <!-- Repeater Items -->

                      <div class="items" data-group="buttons">
                        <!-- Repeater Content -->
                        <div class="item-content">

                          <div class="form-input row">
                            <div class="col">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr17"> Emoji </p>
                              <div id="the-basics">
                                <select class="js-example-basic-multiple" name="emojirr8">
                                  <% emojiArray.forEach((e)=>{ %>
                                  <option value="" disabled>Select a Emoji</option>
                                  <option value="<%=e%>"><%=e%></option>
                                  <% }) %>
                                </select>
                              </div>
                            </div>
                            <div class="col">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr18"> Roles </p>
                              <div id="the-basics">
                                <select class="js-example-basic-multiple" style="width:183px;max-width:483px;    border-color: #2c2e33;
                                    background: #000000;
                                    height: 36px;" name="rolesa">
                                  <% for (const role of rr.roles) { %>
                                  <% if (role.name !== "@everyone" && !role.managed) { %>
                                  <option value="<%= role.id %>">@<%= role.name %></option>
                                  <% } %>
                                  <% } %>
                                </select>
                              </div>
                            </div>
                            <div class="col">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr19"> Label </p>
                              <div id="bloodhound">
                                <input type="text" class="form-control" id="inputName" placeholder="Button Label" name="labelrr">
                              </div>
                            </div>
                            <div class="col">
                              <p class="text-muted mb-0" name="translate" caption="dashboard_rr20"> Description </p>
                              <div id="bloodhound">
                                <input type="text" class="form-control" id="inputName" placeholder="Button Label" name="labelrr">
                              </div>
                            </div>
                          </div>

                        </div>
                        <!-- Repeater Remove Btn -->
                        <div class="pull-right repeater-remove-btn">
                          <button class="btn btn-danger remove-btn">
                            <span name="translate" caption="dashboard_rr21"> Remove </span>
                          </button>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                  <!-- END Selection type -->

                </div>
              </div>
            </div>
            <div class=" savee">
              <input name="close" type="button" class="ctb" value="Close" onclick="fecharFrame();"">
              <div style=" width: 100%; height: 820px;">
                <hr>
                <center><h2 name="translate" caption="dashboard_rr24">⚠️ THIS FEATURE IS CURRENTLY IN BETA TESTING!</h2></center>
                <hr>
                <% for (const rr of dbrr) { %>
                  <% var i = 0; i++ %>
                  Reaction <%- [i] %> | MessageID: <%- rr.messageID %> <button type="button"><span name="translate" caption="dashboard_rr25">delete</span></button><br>
                  <% } %>
              </div>
            </div>
            <script src=" https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script>
              var premiumCheck = "<%= premium %>";
              // abrir frame embed
              $(document).ready(function() {
                $("#open").click(function() {
                  $(".savee").addClass("changes_truee");
                });
              });

              // fechar frame embed
              function fecharFrame(novaCor) {
                $(".savee").removeClass("changes_truee");
              }

              function myFunction1() {
                var checkBox = document.getElementById("newmessage");
                var text1 = document.getElementById("card-body1");
                var text2 = document.getElementById("card-body2");
                if (checkBox.checked == true) {
                  text1.style.display = "none";
                  text2.style.display = "block";
                }
              }

              function myFunction2() {
                var checkBox = document.getElementById("existingmessage");
                var text1 = document.getElementById("card-body1");
                var text2 = document.getElementById("card-body2");
                if (checkBox.checked == true) {
                  text1.style.display = "block";
                  text2.style.display = "none";
                }
              }
              //yessir
            </script>

            <style>
              .c011 {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                z-index: 3000;
                padding: 1.2rem;
                position: fixed;
                background: rgba(0, 0, 0, 0.75);
                overflow-y: auto;
                overflow-x: hidden;
                align-items: flex-start;
                justify-content: center;
              }

              .c014 {
                top: 34px;
                right: 35px;
                /* bottom: 20px; */
                cursor: pointer;
                position: absolute;
                height: 30px;
                width: 50px;
              }

              .savee {
                position: fixed;
                bottom: -1400px;
                z-index: 999;
                background: #13151b;
                max-width: 800px;
                width: 100%;
                text-align: center;
                /* padding: 30px 40px; */
                border-radius: 15px;
                left: 50%;
                transform: translateX(-50%);
                font-weight: 700;
                transition: .2s all ease-in-out;
              }

              .savee .cta {
                margin-left: 20px;
              }

              .savee.changes_truee {
                top: 0;
                /* left: 0; */
                /* right: 0; */
                bottom: 0;
                /* display: flex; */
                z-index: 3000;
                padding: 1.2rem;
                position: fixed;
                background: rgba(0, 0, 0, 0.75);
                overflow-y: auto;
                overflow-x: hidden;
                align-items: flex-start;
                justify-content: center;
                max-width: 1500px;
                height: 100%;
              }

              .control {
                box-sizing: border-box;
                clear: both;
                font-size: 1rem;
                position: relative;
                text-align: left;
              }

              .is-flex {
                display: flex !important;
              }

              @media (max-width: 768px) {
                .is-flex {
                  display: flex !important;
                }
              }

              @media (max-width: 543px) {
                .is-flex {
                  display: flex !important;
                }
              }

              @media (max-width: 490px) {
                .is-flex {
                  display: block !important;
                }
              }

              .module-settings .rich-toggle {
                display: flex;
                align-items: center;
                margin: 0.5em;
              }

              .control {
                box-sizing: border-box;
                clear: both;
                font-size: 1rem;
                position: relative;
                text-align: left;
              }

              .rich-toggle {
                flex-shrink: 1;
                width: 32%;
                background-color: #181a20;
                padding: 0.7em 1em;
                margin-right: 0.5em;
                cursor: pointer;
                transition: background-color 0.3s, color 0.3s;
                border-radius: 5px;
                width: calc(33% - 1em);
              }

              .settings-content .control input,
              .page-server .automod-toggles .control input,
              .page-server .actionlog-toggles .control input,
              .embed-builder-controls .control input,
              .view-command .control input {
                background: #272b34;
                color: #fff;
                border: none;
              }

              .settings-content .rich-toggle input[type=checkbox]:checked+label,
              .page-server .automod-toggles .rich-toggle input[type=checkbox]:checked+label,
              .page-server .actionlog-toggles .rich-toggle input[type=checkbox]:checked+label,
              .embed-builder-controls .rich-toggle input[type=checkbox]:checked+label,
              .view-command .rich-toggle input[type=checkbox]:checked+label {
                font-weight: bold;
              }
            </style>

            <div id="rr-preview" style="display: none;" class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title" name="translate" caption="dashboard_rr26">PREVIEW</h4>
                  <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">

                  <div id="textPreview" style="display: none;">
                    <div class="msgEmbed">
                      <div class="contents">
                        <img src="https://cdn.discordapp.com/avatars/<%= req.client_id %>/<%= req.client_avatar %>.webp?size=1024" class="avatar" alt=" ">
                        <h2>
                          <span class="username" role="button">Hope <img draggable="false" class="emoji" alt="🌺" src="https://twemoji.maxcdn.com/v/13.1.0/72x72/1f33a.png"></span><span class="botTag"><span class="botText" style="">✓ BOT</span></span>
                          <span class="timeText" name="translate" caption="dashboard_autobirthday16">Today at 8:22 AM</span>
                        </h2>
                      </div>
                      <div id="outputText" class="markup messageContent">React here to get your roles!</div>
                    </div>
                  </div>

                  <div id="embedPreview" style="display: none;">
                    <div class="container">
                      <div id="embedColor" id="embedColor" class="embed markup" style="border-color: #ff0000;">
                        <div class="embedGrid">
                          <div class="embedAuthor embedMargin" style="display: flex;">
                            <img id="embedAuthorIcon" name="embedAuthorIcon" class="embedAuthorIcon" src="https://unsplash.it/100">
                            <a id="embedAuthorName" name="embedAuthorName" class="embedAuthorNameLink embedLink embedAuthorName" href="https://hopebot.top" target="_blank">Author Name</a>
                          </div>
                          <div id="embedTitle" name="embedTitle" class="embedTitle embedMargin" style="display: unset;"><a class="anchor" target="_blank" href="https://hopebot.top">Title</a></div>
                          <div id="embedDescription" name="embedDescription" class="embedDescription embedMargin" style="display: unset;">Description...</div>
                          <img id="embedImage" name="embedImage" class="imageWrapper clickable embedMedia embedImage" src="https://unsplash.it/380/200" style="display: block;">
                          <img id="embedThumb" name="embedThumb" class="imageWrapper clickable embedThumbnail" src="https://unsplash.it/200" style="display: block;">
                          <div id="embedFooter" name="embedFooter" class="embedFooter embedMargin" style="display: flex;">
                            <img id="embedFooterIcon" name="embedFooterIcon" class="embedFooterIcon" src="https://unsplash.it/100">
                            <span class="embedFooterText">
                              Footer Text
                              <span id="embedStamp" name="embedStamp" class="embedFooterSeparator" style="display: none;">• Today at 8:22 AM</span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <style>
                    #output {
                      font-family: MV Boli;
                      font-size: 18px;
                    }

                    #outputSub {
                      color: #54ff46;
                      text-shadow: 1px 1px 2px #53e87d, 0 0 25px #53e87d, 0 0 5px #53e87d;
                      font-family: MV Boli;
                      font-size: 18px;
                    }
                  </style>

                </div>
              </div>
            </div>

            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title" name="translate" caption="dashboard_rr27">Options</h4>
                  <div class="server-list-wrapper regular showcase ">
                    <div class="server-list regular showcase ">
                      <div class="server-list-item-wrapper" style="border-color: rgb(32, 32, 32);">
                        <div class="server-list-card">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" id="RRDM" name="RRDM"> SEND MESSAGE IN A DM (PRIVATE MESSAGE) </label>
                          </div>

                          <hr class="sc-120wsjt-0 sc-1o36vqg-2 keqMWH">
                          <p class="text-muted mb-0" name="translate" caption="dashboard_rr28"> Type </p>
                          <div class="col-sm-5">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="rroption" id="1" value="1" checked> Type 1 - React adds the role, unreacting removes the role </label>
                            </div>
                          </div>
                          <div class="col-sm-5">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="rroption" id="2" value="2"> Type 2 - Reacting will give the role but unreaction won't remove the role </label>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="rroption" id="3" value="3"> Type 3 - Reacting will remove the role and unreacting won't give it back </label>
                            </div>
                          </div>
                          <div class="col-sm-7">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="rroption" id="4" value="4"> Type 4 - When reacting it will remove the role, unreacting will add the role </label>
                            </div>
                          </div>
                          <div class="col-sm-8">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="rroption" id="5" value="5"> Type 5 - Same concept as number 3 but removes the user's reaction </label>
                            </div>
                          </div>
                          <div class="col-sm-9">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="rroption" id="6" value="6"> Type 6 - React to recieve the role and react again to remove the role </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-12 grid-margin">
            </div>
            <!-- content-wrapper ends -->
            <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
            <%- include("../../partials/_footer-dashboard.ejs") %>
            <!-- partial -->
          </div>
          </form>
          <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
      </div>
      <!-- container-scroller -->
      <!-- plugins:js -->
      <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
      <!-- endinject -->
      <!-- Plugin js for this page -->
      <script src="../../assets/vendors/select2/select2.min.js"></script>
      <script src="../../assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
      <!-- End plugin js for this page -->
      <!-- inject:js -->
      <script src="../../assets/js/off-canvas.js"></script>
      <script src="../../assets/js/hoverable-collapse.js"></script>
      <script src="../../assets/js/misc.js"></script>
      <script src="../../assets/js/settings.js"></script>
      <script src="../../assets/js/todolist.js"></script>
      <!-- endinject -->
      <!-- Custom js for this page -->
      <script src="../../assets/js/file-upload.js"></script>
      <script src="../../js/rr.js"></script>
      <script src="../../assets/js/typeahead.js"></script>
      <script src="../../assets/js/select2.js"></script>
      <!-- End custom js for this page -->
</body>

</html>